body{
  font-family: sans-serif;
  background-color: #F2EFE7;
}

.game{
  max-width: calc(3*100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;

}
.status{
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell{
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #cccccc;
  background-color: #9ACBD0;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease-in-out;



}
.cell:hover{
  background-color: #48A6A7;
}


.reset-button{
  padding: 5px 10px;
  background-color: red;
  font-weight: 900;
  border-radius: 10%;
  border: 50px black;
}